@import '../../../../styles/app';

.slider {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    margin-bottom: -#{$content-padding / 2};
    padding-bottom: 50px;
  }

  & :global .product-card {
    margin-bottom: 0;
  }
}

.sliderItem {
  padding: 0 10px;

  @include media-breakpoint-down(sm) {
    padding: 5px;
  }
}

.slick {
  & :global .slick-track {
    display: flex;
  }
}

