@import '../../../../styles/app';

.selects {
  display: flex;
  margin: $spacer / 2 0;

  & > div {
    height: 50px;

    button {
      width: 100%;
      margin-right: 0;
    }

    &:first-child {
      width: 65%;
    }

    &:last-child {
      width: calc(35% - #{$spacer / 2});
      margin-left: $spacer / 2;
    }
  }
}
